<!DOCTYPE html>
<head>
    <title>test</title>
</head>
<body>
    <p> Mohon di bantu untuk pengecekan toko berikut yang terindikator
<table border=1>
    <tr>
        <td>Kode Toko</td>
        <td>{{kode_toko}}</td>
    </tr>
    <tr>
        <td>Gangguan</td>
        <td>{{tipe_gangguan}}</td>
    </tr>
    <tr>
        <td>IP Public</td>
        <td>{{ip_public}}</td>
    </tr>
    <tr>
        <td>SID</td>
        <td>{{sid}}</td>
    </tr>
    <tr>
        <td>PIC Toko</td>
        <td>NO HP</td>
    </tr>
</table>
<br>
<p>Terima kasih</p>
<br>
<p>
    {{username}} for Chy
</p>
</body>
</html>