{% if user.is_authenticated%}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
	<h1>{{header}}</h1>
	<table border="1">
		<tr>
			<th>#</th>
			<th>IP Address</th>
			<th>Kode Toko</th>
			<th>Nama Toko</th>
			<th>SID</th>
			<th>IP Public</th>
			<th>Complain</th>
		</tr>
		
			{% for list_tables in list_table%}
			<tr>
				<td>{{list_tables.id}}</td>
				<td>{{list_tables.ip_addr}}</td>
				<td>{{list_tables.description}}</td>
				<td>{{list_tables.customer_id}}</td>
				<td>{{list_tables.ip_public}}</td>
				<td><button type="submit">Complain</button></td>
			</tr>
			{%endfor%}
		
	</table>
</body>
</html>
{%else%}
<!DOCTYPE html>
<html>
<head>
	<title>Login First !!!!</title>
</head>
<body>
	<h5>Please login first ...</h5>
</body>
</html>
{%endif%}